---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';

const article = (await getCollection('articles'))?.find(
  article => article.slug === Astro.params['slug'],
);
const { Content } = await article.render();
---

<Layout title={`kerthical.com | ${article.data.title}`}>
  <div class="flex flex-col items-center">
    <div class="prose max-w-3xl max-sm:max-w-full">
      <Content />
    </div>
  </div>
</Layout>
