---
import Layout from '@/components/Layout.astro';
---

<Layout title="kerthical.com">
  <div class="flex h-screen max-h-screen min-h-screen flex-col items-center justify-center overflow-hidden">
    <p>404: page not found</p>
  </div>
</Layout>
