---
import Layout from '@/components/Layout.astro';
import { articles } from '@/schema';

const result = await Astro.locals.db.select().from(articles).all();
---

<Layout title="kerthical.com">
  <div class="flex flex-col items-center p-8">
    <div class="flex flex-col gap-16">
      <div class="flex items-center gap-8 self-center">
        <img class="h-24 w-24" src="/icon.png" alt="" />
        <div class="flex flex-col">
          <h1 class="text-xl font-bold">kerthical</h1>
          <p>Security researcher</p>
          <div class="flex gap-2">
            <a class="link-hover link font-bold" href="https://twitter.com/kerthical"> Twitter</a>
            <a class="link-hover link font-bold" href="https://github.com/kerthical"> GitHub</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="text-md font-bold">Articles</h2>
        <div class="flex max-w-3xl flex-col gap-1">
          {
            !articles ? (
              <p>No articles yet.</p>
            ) : (
              result.map(article => (
                <a class="link-hover link" href={`/articles/${article.slug}`}>
                  <span>
                    {new Date(article.created_at as string).toLocaleDateString('ja-JP', {
                      year: 'numeric',
                      month: '2-digit',
                      day: '2-digit',
                    })}
                  </span>
                  <span>-</span>
                  <span class="font-bold">{article.title}</span>
                </a>
              ))
            )
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
