---
import Layout from '@/components/Layout.astro';
import { Key, LuciaError, Session } from 'lucia';

let errorMessage: string | null = null;

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData();
  const username = data.get('username');
  const password = data.get('password');

  if (!(typeof username !== 'string' || typeof password !== 'string')) {
    try {
      const key: Key = await Astro.locals.auth.useKey('username', username, password);
      const session: Session = await Astro.locals.auth.createSession({
        userId: key.userId,
        attributes: {},
      });
      Astro.locals.authRequest.setSession(session);
      return Astro.redirect('/');
    } catch (e) {
      if (e instanceof LuciaError && (e.message === 'AUTH_INVALID_KEY_ID' || e.message === 'AUTH_INVALID_PASSWORD')) {
        errorMessage = 'Incorrect username or password';
        Astro.response.status = 400;
      } else {
        console.log(e);
        errorMessage = 'An unknown error occurred';
        Astro.response.status = 500;
      }
    }
  } else {
    errorMessage = 'Invalid username or password';
    Astro.response.status = 400;
  }
}
---

<Layout title="kerthical.com">
  <div class="flex h-screen max-h-screen min-h-screen flex-col items-center justify-center overflow-hidden">
    <form method="post" class="flex w-1/5 flex-col items-center justify-center gap-4">
      <label class="form-control w-full">
        Username
        <input type="text" name="username" class="input input-bordered" required />
      </label>
      <label class="form-control w-full">
        Password
        <input type="password" name="password" class="input input-bordered" required />
      </label>
      <button type="submit" class="btn btn-primary w-full">Login</button>
    </form>
    <p class="text-red-400">{errorMessage}</p>
  </div>
</Layout>
