---
import Layout from '@layouts/Layout.astro';
import { getDB } from '@lib/auth';
import { Auth, Key, LuciaError, Session } from 'lucia';

let errorMessage: string | null = null;

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData();
  const username = data.get('username');
  const password = data.get('password');

  if (!(typeof username !== 'string' || typeof password !== 'string')) {
    try {
      const { auth }: { auth: Auth } = getDB(Astro.locals.runtime.env['D1']);
      const key: Key = await auth.useKey('username', username, password);
      const session: Session = await auth.createSession({
        userId: key.userId,
        attributes: {},
      });
      Astro.locals.auth.setSession(session);
      return Astro.redirect('/', 302);
    } catch (e) {
      if (e instanceof LuciaError && (e.message === 'AUTH_INVALID_KEY_ID' || e.message === 'AUTH_INVALID_PASSWORD')) {
        errorMessage = 'Incorrect username or password';
        Astro.response.status = 400;
      } else {
        console.log(e);
        errorMessage = 'An unknown error occurred';
        Astro.response.status = 500;
      }
    }
  } else {
    errorMessage = 'Invalid username or password';
    Astro.response.status = 400;
  }
}
---

<Layout title="kerthical.com">
  <div class="flex h-screen max-h-screen min-h-screen flex-col items-center justify-center overflow-hidden">
    <div class="flex flex-col items-center justify-center">
      <form method="post">
        <label>
          Username
          <input type="text" name="username" required />
        </label>
        <label>
          Password
          <input type="password" name="password" required />
        </label>
        <button type="submit">Login</button>
      </form>
      <p class="error">{errorMessage}</p>
    </div>
  </div>
</Layout>
